[type='text'] {
    width: 20em;
    display: inline-block;
}

.hidden {
  display: none;
}

.page-content {
  display: flex;
  flex-flow: column;;

}

.panel-body:hover {
    border: 2px solid rgb(158, 209, 252);

}

.title {
  font-size:1.5em;
}
