[type='text'] {
    width: 20em;
    display: inline-block;
}



.page-content {
  display: flex;
  flex-flow: column;;

}



.panel-body:hover {
    background-color: rgb(158, 209, 252);
    color: #fff;
    cursor: pointer;
}

.title {
  font-size:1.5em;
}
