[type='text'] {
    width: 20em;
    display: inline-block;
}

.page-content {
    display: flex;
    flex-flow: column;
    ;
}

.panel-body:hover {
    background-color: rgb(180, 230, 255);
    color: #fff;
    cursor: pointer;
}

h3 {
    font-size: 1.25em;
}
