<section class='panel panel-default' ng-model="clicked" ng-init="clicked=true">

    <header class='panel-heading' ng-if="clicked">
        <h2>{{repo.name}}</h2>
    </header>
    <article class='panel-body'>
        <h3 class='title'>Created on:</h3>
        <p>{{repo.created_at | date : format : short}}</p>
        <h3 class='title'>Created by:</h3>
        <p>{{repo.owner.login}}</p>
        <h3 class='title'>Last modified:</h3>
        <p>{{repo.updated_at | date : format : short}}</p>
        <h3 class='title'>Clone url:</h3>
        <p>{{repo.clone_url}}</p>

    </article>

</section>
